#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: community-ingress-resource
#   namespace: galasa-production
#   annotations:
#     kubernetes.io/ingress.class: "public-iks-k8s-nginx"
# spec:
#   tls:
#   - hosts:
#     - development.galasa.dev
#   rules:

  # Commented-out as the GitHub copyright app is not in use and is not functional at the moment.
  # Should it be re-instated in the future, this Ingress path may be useful as a reference point.
  # - host: development.galasa.dev
  #   http:
  #     paths:
  #     - backend:
  #         service:
  #           name: githubappcopyright
  #           port:
  #             number: 3000
  #       path: /githubapp/copyright/event_handler
  #       pathType: ImplementationSpecific
