#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: argocd-cli
  namespace: galasa-build
spec:
  params:
  - name: command
    type: array   
  - name: server
    type: string    
  - name: authSecretName
    type: string
    default: argocd-token
  - name: authSecretKey
    type: string
    default: argocd-token
  steps:
  - name: argocd-cli
    image: harbor.galasa.dev/common/argocd-cli:main
    imagePullPolicy: IfNotPresent
    env:
    - name: ARGOCD_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: $(params.authSecretName)
          key: $(params.authSecretKey)
          optional: false
    args:
    - $(params.command)
    - "--server"
    - $(params.server)