#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: get-commit
  namespace: galasa-build
spec:
  workspaces:
  - name: git-workspace
    mountPath: /workspace/git
  params:
  - name: pipelineRunName
    type: string 
  - name: repo
    type: string    
  steps:
  - name: get-commit
    workingDir: /workspace/git/$(params.pipelineRunName)/$(params.repo)
    image: harbor.galasa.dev/common/gitcli:main
    imagePullPolicy: IfNotPresent
    script: |
      #!/bin/sh
      set +e
      git config --global --add safe.directory /workspace/git/$(params.pipelineRunName)/$(params.repo)
      COMMIT="$(git log --format="%H" -n 1)"
      echo $COMMIT > /workspace/git/$(params.pipelineRunName)/$(params.repo)/$(params.repo).githash
      echo commit is $COMMIT