#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: git-clean
  namespace: galasa-build
spec:
  workspaces:
  - name: git-workspace
    mountPath: /workspace/git
  params:
  - name: subdirectory
    type: string
    default: ""
  steps:
  - name: clean-subdirectory
    workingDir: /workspace/git/
    image: harbor.galasa.dev/docker_proxy_cache/library/busybox:1.36.1
    imagePullPolicy: IfNotPresent
    command:
    - rm
    - -rf
    - /workspace/git/$(params.subdirectory)