#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: go-build
  namespace: galasa-build
spec:
  workspaces:
  - name: git-workspace
    mountPath: /workspace/go/src
  params:
  - name: context
    type: string 
  - name: CGO_ENABLED
    type: string
    default: "0" 
  - name: GOOS
    type: string
    default: "linux" 
  - name: GOARCH
    type: string
    default: "amd64" 
  - name: GO111MODULE
    type: string
    default: "auto"    
  - name: goArgs
    type: array  
  steps:
  - name: go-build
    workingDir: /workspace/go/src/$(params.context)
    image: golang:latest
    imagePullPolicy: Always
    env:
    - name: GOPATH
      value: /workspace/go
    - name: CGO_ENABLED
      value: $(params.CGO_ENABLED)
    - name: GOOS
      value: $(params.GOOS)
    - name: GOARCH
      value: $(params.GOARCH)
    - name: GO111MODULE
      value: $(params.GO111MODULE)        
    command:
      - go
    args:
      - $(params.goArgs[*])