#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: maven-build
  namespace: galasa-build
spec:
  workspaces:
  - name: git-workspace
    mountPath: /workspace/git
  params:
  - name: context
    type: string 
  - name: settingsLocation
    type: string
  - name: buildArgs
    type: array    
  - name: command
    type: array
  - name: image
    type: string
    default: harbor.galasa.dev/docker_proxy_cache/library/maven:3.8.6-openjdk-11
  steps:
  - name: maven-build
    workingDir: /workspace/git/$(params.context)
    image: $(params.image)
    imagePullPolicy: IfNotPresent
    # To authenticate to GitHub Packages during a Maven build
    env:
    - name: GITHUB_TOKEN_READ_PACKAGES_USERNAME
      valueFrom:
        secretKeyRef:
          name: github-token-read-packages
          key: username
          optional: false
    - name: GITHUB_TOKEN_READ_PACKAGES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: github-token-read-packages
          key: password
          optional: false
    command:
      - mvn
    args:
      - $(params.buildArgs[*])
      - --settings
      - $(params.settingsLocation)
      - --batch-mode
      - --errors
      - --fail-at-end
      - $(params.command[*])