#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

{{ if .Values.javadocsite.deploy }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: javadocsite-{{ .Values.javadocsite.branch }}
  name: javadocsite-{{ .Values.javadocsite.branch }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - port: 80
  selector:
    app: javadocsite-{{ .Values.javadocsite.branch }}
{{ end }}
