#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

namespace: galasa-development
branch: main
imageName: ghcr.io/galasa-dev/inttests-maven-artefacts
imageTag: main