#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: branch-helm
  namespace: galasa-build
spec:
  params:
  - name: branch
    type: string
    default: main
  - name: galasaVersion
    type: string
    default: main
  workspaces:
  - name: git-workspace
#
#
#
  tasks:
  - name: clone-helm
    taskRef:
      name: git-clone
    params:
    - name: url
      value: https://github.com/galasa-dev/helm
    - name: revision
      value: main
    - name: refspec
      value: refs/heads/main:refs/heads/main
    - name: depth
      value: "99999999"
    - name: subdirectory
      value: $(context.pipelineRun.name)/helm
    workspaces:
     - name: output
       workspace: git-workspace
#
#
#
  - name: check-branch
    taskRef:
      name: git-check-branch
    runAfter:
    - clone-helm
    params:
    - name: context
      value: $(context.pipelineRun.name)/helm
    - name: branch
      value: $(params.branch)
    workspaces:
     - name: git-workspace
       workspace: git-workspace
#
#
#
  - name: install-ecosystem
    taskRef:
      name: general-command
    runAfter:
    - check-branch
    params:
    - name: context
      value: $(context.pipelineRun.name)/helm/charts
    - name: image
      value: docker.io/alpine/helm:3.12.1
    - name: command
      value:
      - helm
      - install
      - helm-$(params.branch)
      - ./ecosystem
      - --namespace
      - galasa-build
      - --set
      - externalHostname=cicsk8sm.hursley.ibm.com
      - --set
      - galasaVersion=$(params.galasaVersion)
      - --set
      - galasaRegistry=harbor.galasa.dev/galasadev
      - --set
      - dex.config.issuer=http://cicsk8sm.hursley.ibm.com/dex
      - --wait
    workspaces:
     - name: git-workspace
       workspace: git-workspace
#
#
#
  finally:
  - name: uninstall-ecosystem
    taskRef:
      name: general-command
    params:
    - name: context
      value: $(context.pipelineRun.name)/helm
    - name: image
      value: docker.io/alpine/helm:3.12.1
    - name: command
      value:
      - helm
      - uninstall
      - helm-$(params.branch)
    workspaces:
     - name: git-workspace
       workspace: git-workspace