#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: githubmonitor-configmap
  namespace: galasa-build
data: 
  config.yaml: |
    events:
      pull_request:
        eventListener: "http://el-github-pr-builder-listener.galasa-build.svc.cluster.local:8080"
      pull_request_review:
        eventListener: "http://el-github-pr-review-builder-listener.galasa-build.svc.cluster.local:8080"
      push:
        eventListener: "http://el-github-main-builder-listener.galasa-build.svc.cluster.local:8080"
      workflow_run:
        eventListener: "http://el-github-workflow-completed-listener.galasa-build.svc.cluster.local:8080"