#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

namespace: galasa-development
branch: main
imageName: ghcr.io/jadecarino/ivts-maven-artefacts
imageTag: main

ingress:
  externalHostname: development.galasa.dev
  ingressClassName: public-iks-k8s-nginx
  pathSuffix: ivts
  annotations: {}
  tls:
  - hosts:
      - development.galasa.dev
    secretName: galasa-wildcard-cert
