#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#
name: Helm build (galasa-service1)

on:
  workflow_dispatch:

# Only allow one of this workflow to run at once
# Do not cancel in progress workflow runs if another is queued
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  NAMESPACE: galasa-dev
  BRANCH: ${{ github.ref_name }}

jobs:
  build-helm:
    # Skip this job for forks
    if: ${{ github.repository_owner == 'galasa-dev' }}
    name: Build Helm chart for galasa-service1
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Automation repository
        uses: actions/checkout@v4
      
      - name: Checkout Helm repository
        uses: actions/checkout@v4  
        with:
          repository: ${{ env.NAMESPACE }}/helm
          path: helm

      - name: Setup helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: '3.13.2' # default is latest (stable)
        id: install
      
      - name: Setup kubeconfig secret
        env: 
          KUBE_CONFIG_PLAN_B_CLUSTER: ${{ secrets.KUBE_CONFIG_PLAN_B_CLUSTER }}
        run: |
          mkdir -p $HOME/.kube
          echo "${{ env.KUBE_CONFIG_PLAN_B_CLUSTER }}" >> $HOME/.kube/config
      
      - name: Uninstall galasa-service1
        run: |
          helm uninstall main-service --ignore-not-found --namespace=galasa-service1 --kubeconfig $HOME/.kube/config
      
      # Default timeout is 5m0s. Stating that explicitly so we can change it easily.
      # The install takes a long time because we are waiting for all the pods to start up.
      - name: Install galasa-service1
        run: |
          helm install main-service ${{ github.workspace }}/helm/charts/ecosystem --namespace=galasa-service1 --values ${{ github.workspace }}/infrastructure/galasa-kube1/galasa-service1/helm-values.yaml --kubeconfig $HOME/.kube/config --timeout 10m0s --wait

      - name: Test galasa-service1
        run: |
          helm test main-service --namespace=galasa-service1 --kubeconfig $HOME/.kube/config

  trigger-next-workflow:
    # Skip this job for forks
    if: ${{ github.repository_owner == 'galasa-dev' }}
    name: Trigger next workflow in the build chain
    needs: [build-helm]
    runs-on: ubuntu-latest

    steps:
      # This workflow runs a single test the CoreManagerIVT to verify the health of the Galasa service.
      - name: Triggering workflow to run CoreManagerIVT
        env:
            GH_TOKEN: ${{ secrets.GALASA_TEAM_GITHUB_TOKEN }}
        run: |
          gh workflow run run-core-test.yaml --repo https://github.com/galasa-dev/automation --ref ${{ env.BRANCH }}

  report-failure:
    # Skip this job for forks
    if: ${{ failure() && github.repository_owner == 'galasa-dev' }}
    name: Report failure in workflow
    runs-on: ubuntu-latest
    needs: build-helm

    steps:
      - name: Report failure in workflow to Slack
        env: 
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run : |
          docker run --rm -v ${{ github.workspace }}:/var/workspace ghcr.io/galasa-dev/galasabld-ibm:main slackpost workflows --repo "automation" --workflowName "${{ github.workflow }}" --workflowRunNum "${{ github.run_id }}" --ref "${{ env.BRANCH }}" --hook "${{ env.SLACK_WEBHOOK }}"