#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#
name: Galasa Core Regression Tests (non z/OS)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *" # Daily at 06:00

env:
  NAMESPACE: ${{ github.repository_owner }}

jobs:
  run-regression-tests:
    name: Run Galasa regression tests
    runs-on: ubuntu-latest

    # Don't run this for forks.
    if: ${{ github.repository_owner == 'galasa-dev' }}

    steps:
      - name: Ensure permissions for mounted /galasa directory
        run: |
          sudo mkdir -p ${{ github.workspace }}/galasa
          sudo chown -R 999:999 ${{ github.workspace }}/galasa

      - name: Clean /galasa workspace in CLI image
        run: |
          docker run --rm \
          --user galasa:galasa \
          -v ${{ github.workspace }}/galasa:/galasa \
          ghcr.io/${{ env.NAMESPACE }}/galasactl-x86_64:main \
          rm -rf /galasa/*

      # Only include the non-zos tests that can run on galasa-service1.
      # This currently excludes the `dev.galasa.ivts.docker` and `dev.galasa.ivts.compilation` tests
      # as they require a remote Docker engine to be available.
      - name: Prepare test portfolio for 'ivts' test stream
        env:
          GALASA_HOME: /galasa
          GALASA_TOKEN: ${{ secrets.GALASA_TOKEN_SERVICE1 }}
          GALASA_SERVICE_BOOTSTRAP_URL: ${{ vars.GALASA_SERVICE_BOOTSTRAP_URL }}
        run: |
          docker run --rm \
          --env GALASA_HOME=${{ env.GALASA_HOME }} \
          --env GALASA_TOKEN=${{ env.GALASA_TOKEN }} \
          --user galasa:galasa \
          -v ${{ github.workspace }}/galasa:/galasa:rw \
          ghcr.io/${{ env.NAMESPACE }}/galasactl-x86_64:main \
          galasactl runs prepare \
          --bootstrap ${{ env.GALASA_SERVICE_BOOTSTRAP_URL }} \
          --stream ivts \
          --package artifact \
          --package core \
          --package http \
          --portfolio /galasa/tests.yaml \
          --log -

      - name: Submit test portfolio for 'ivts' test stream
        env:
          GALASA_HOME: /galasa
          GALASA_TOKEN: ${{ secrets.GALASA_TOKEN_SERVICE1 }}
          GALASA_SERVICE_BOOTSTRAP_URL: ${{ vars.GALASA_SERVICE_BOOTSTRAP_URL }}
        run: |
          docker run --rm \
          --env GALASA_HOME=${{ env.GALASA_HOME }} \
          --env GALASA_TOKEN=${{ env.GALASA_TOKEN }} \
          --user galasa:galasa \
          -v ${{ github.workspace }}/galasa:/galasa:rw \
          ghcr.io/${{ env.NAMESPACE }}/galasactl-x86_64:main \
          galasactl runs submit \
          --bootstrap ${{ env.GALASA_SERVICE_BOOTSTRAP_URL }} \
          --portfolio /galasa/tests.yaml \
          --throttle "10" \
          --throttlefile throttle \
          --poll "10" \
          --progress "1" \
          --trace \
          --reportjson /galasa/test.json \
          --noexitcodeontestfailures \
          --log -

      - name: Report results into Slack channel
        env: 
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: |
          docker run --rm \
          --env SLACK_WEBHOOK=${{ env.SLACK_WEBHOOK }} \
          -v ${{ github.workspace }}/galasa:/galasa:rw \
          ghcr.io/${{ env.NAMESPACE }}/galasabld-ibm:main \
          slackpost tests \
          --path /galasa/test.json \
          --name "Core tests - galasa-service1" \
          --desc "Core, HTTP, Artifact etc" \
          --hook ${{ env.SLACK_WEBHOOK }}