#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#
name: Branch Tag

on:
  workflow_dispatch:
    inputs:
      distBranch:
        description: 'Destination branch'
        required: true
      tag:
        description: 'Required tag for the branch, should be of the form vx.xx.x'
        required: true

jobs:
  branch-tag:
    strategy:
      matrix:
        repo: ['automation', 'galasa', 'isolated', 'helm', 'webui', 'simplatform']
    runs-on: ubuntu-latest
    steps:
      - name: Tag branch ${{ matrix.repo }}
        env:
          GALASA_TEAM_GITHUB_TOKEN: ${{ secrets.GALASA_TEAM_GITHUB_TOKEN }}
        run: |
          docker run ghcr.io/galasa-dev/galasabld-amd64:main github branch tag \
          --repository ${{ matrix.repo }} --branch ${{ inputs.distBranch }} --tag ${{ inputs.tag }} \
          --username galasa-team \
          --password ${{ env.GALASA_TEAM_GITHUB_TOKEN }}
