#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#
name: Branch Create

on:
  workflow_dispatch:
    inputs:
      distBranch:
        description: 'Destination branch'
        required: true
      fromBranch:
        description: 'Source branch'
        required: true
      overwrite:
        description: 'Overwrite destination branch'
        required: false
        default: ''
      force:
        description: 'Force copy'
        required: false
        default: ''

jobs:
  branch-create-galasa:
    strategy:
      matrix:
        repo: ['automation', 'galasa', 'isolated', 'helm', 'webui', 'simplatform']
    runs-on: ubuntu-latest
    steps:
      - name: Clone branch ${{ matrix.repo }}
        env:
          GALASA_TEAM_GITHUB_TOKEN: ${{ secrets.GALASA_TEAM_GITHUB_TOKEN }}
        run: |
          docker run ghcr.io/galasa-dev/galasabld-amd64:main github branch copy \
          --repository ${{ matrix.repo }} --to ${{ inputs.distBranch }} \
          --branch ${{ inputs.fromBranch }} ${{ inputs.overwrite }} ${{ inputs.force }} \
          --username galasa-team \
          --password ${{ env.GALASA_TEAM_GITHUB_TOKEN }}
